
body {
    line-height: 1;
}
/* ここからがナビ */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 10px;
}

.header-ttl-link {
    text-decoration: none;
    color: #00277e;
    
}

.header-nav-list {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
}

.header-nav-item {
    list-style: none;
    font-size: 15px;
}

.header-nav-item:not(:last-of-type) {
    margin-right: 30px;
}

.header-nav-item-link {
    text-decoration: none;
    color: #7d7e82;
    max-width: 100%;
}

/* ここからがrelative */
.relative {
    position: relative;
}

.relative__img {
    margin: 0 0 0 auto;
    display: block;
    width:60%;
}

.absolute {
    position: absolute;
    top: 30px;
    left: 15%;
    font-size: 60px;
    line-height: 100px;
    font-family: 'Gloria Hallelujah', cursive;
    color: rgb(181, 6, 99);
}

.absolute-emphasis{
    color: rgb(3, 165, 165);
}

.absolute-content{
    position: absolute;
    top: 53%;
    left: 15%;
    font-size: 27px;
    font-weight: bold;
    color: rgb(181, 6, 99);
}

.absolute-content-item{
    position: absolute;
        top: 62%;
        left: 15%;
        font-size: 20px;
        color: #7d7e82;
        line-height: 30px;
}



/* ここからがニュースエリア */
.news {
    padding: 50px 0;
}

.news__pickup{
    margin-left: 185px;
}

.news__pickup-ttl{
    font-size: 15px;
    font-family: 'Gloria Hallelujah', cursive;
    color: rgb(181, 6, 99);
}


.news__pickupttl-detail{
    font-size: 20px;
    font-weight: bold;
    color: #606062;    
}

.news_list {
    
    margin: 0 5%;
}

.news_list_item {
    padding-left: 185px;
    padding: 1px 0;
    width: 750px;
    border-bottom: 1px solid #E6E6E6;
    list-style: none;  
    display: inline-block;
}

.news_list_item:first-child {
    border-top: 3px solid #E6E6E6;
}

.news_list_item a {
    position: relative;
    display: flex;
    margin-left: 150px;
    padding-right: 30px;
    text-decoration: none;
    color: #7d7e82;
}

.news_list_date {
    font-size: 15px;
    display: flex;
    margin-right: 15px;
    align-items: center;
    
}

.news_item {
    background: rgb(181, 6, 99);
    color: #fff;
    border-radius: 14px;
    width: 6em;
    text-align: center;
    margin-left: 25px;
}

/* ここからがabout */
.about {
    background-color: #ebebeb;
    padding: 60px 0;
    margin-top: 150px;
    
}

.about__content-pickup{
    text-align: center;
}

.about__content-ttl{
    font-size: 15px;
    font-family: 'Gloria Hallelujah', cursive;
        color: rgb(181, 6, 99);
}

.about__content-pickup-ttl-detail{
    font-size: 35px;
    font-weight: bold;
    color: #606062;
}

.about__content{
    display: flex;
    justify-content: space-around;
}

.about__img {
    margin: 0 0 0 auto;
    padding-right: 50px;
    width: 40%;
}

.about__img img {
    width: 90%;
}


.about__content-description {
    margin-left: 100px;
    line-height: 30px;
    color: #7d7e82;
}

/* ここからがsarvice */

.sarvice{
    padding: 50px 0;
}

.sarvice-pickup{
    margin-left: 200px;
}

.sarvice-pickup-ttl{
    font-size: 15px;
    font-family: 'Gloria Hallelujah', cursive;
    color: rgb(181, 6, 99);

}

.sarvice-pickup-ttl-detail{
    font-size: 25px;
    font-weight: bold;
    color: #606062;

}


.grid__parent {
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 2fr 2fr  2fr 2fr 1fr; 
    width: 900px;
    margin-left: 200px;
    line-height: 20px;
    color:aliceblue;
}

.box1 {
    grid-column: 1/3;
    grid-row: 1/3;
    background: #af3f73;
    text-align: center;
    padding: 50px 20px;
}

.box__text-box1{
    margin:0px auto;
    font-size: 15px;
}

.box2 {
    grid-column: 3/9;
    grid-row: 1/2;
    background: #a65088;
    display: flex;
        justify-content: space-around;
}

.box__text-box2{
    margin-top: 40px;
    font-size: 15px;
}

.box3 {
    grid-column: 3/9;
    grid-row: 2/3;
    background: #ac92a9;
    display: flex;
       justify-content: space-around;
}

.box__text-box3{
    margin-top: 40px;
    font-size: 15px;
}

.box__img{
    width: 30%;
}


/* ここからがwrapper */

.wrapper {
    padding: 30px 0;
    margin-top: 50px;
    background-color: #ebebeb;
    
}

.wrapper-pickup{
    margin-left: 200px;
}

.wrapper-pickup-ttl{
    font-size: 15px;
        font-family: 'Gloria Hallelujah', cursive;
        color: rgb(181, 6, 99);
}

.wrapper-pickup-ttl-detail{
    font-size: 25px;
        font-weight: bold;
        color: #606062;
}

.card {
    display: flex;
    justify-content: space-around;  
    padding: 0px 80px 10px; 
    margin-left: 130px;
}

.text-box {
    border-radius: 20px ;
    background-color: #fff;
    margin-right: 50px;
    cursor: pointer;
    border: 1px solid #e9eaea;
}

.content-img img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}
.content-img {
    text-align: center;
    position: relative;
}

.card__content-cat {
    position: absolute;
    top: 0%;
    left: 0%;
    color: #fff;
    background-color: rgb(181, 6, 99);
    width: 80px;
    height: 30px;
    border-radius: 10px 0px 0px 0px;
    padding-top: 10px;
    font-size: 20px;
}


.text__content {
    text-align: center;
    padding: 15px 15px;
    color: #606062;
    
}

.text__content-title {
    padding-top: 5px;
    font-size: 18px;
    
}

.flex__item{
    display: flex;
        align-items: baseline;
        list-style: none;
        padding: 30px 10px 0px;
}

.blog-wrap__item-content-tag:not(:last-of-type){
    margin-right: 50px;
}

.more__btn{
    width: 200px;
        padding: 15px 0;
        color: rgb(181, 6, 99);
        border: solid 2px rgb(181, 6, 99);
        border-radius: 30px;
        background-color: #fff;
        text-align: center;
        margin: 10px auto ;
        display: block;
        text-decoration: none;
}

/* ここからがCompany */

.Company{
    padding: 50px 0;
}

.Company-pickup{
    margin-left: 200px;
}

.Company-pickup-ttl{
    font-size: 15px;
        font-family: 'Gloria Hallelujah', cursive;
        color: rgb(181, 6, 99);
}

.Company-pickup-ttl-detail{
    font-size: 25px;
        font-weight: bold;
        color: #606062;
}

.profile{
    width: 70%;
        border-collapse: collapse;
        margin: 0 auto;
        color: #606062;
}

.profile-ttl{
    border: 1px solid #ccc;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    background-color: #f1f0f0;
}

.profile-text{
    border: 1px solid #ccc;
    padding: 20px;
}

/* ここからがBox */

.box{
    display: flex;
}

.mv img {
    width: 100%;  
}
.mv{
    position: relative;
}

.title{
    position: absolute;
    top: 30%;
    left: 35%;
    color: #fff;
    font-size: 28px;
}

/* ここからがfooter-top */

.footer-top{
    text-align: center;
}

.footer-top-ttl{
    color: #606062
}

.plactice__btn{
    position: relative;
        background: linear-gradient(90deg, #ef64ac, #a81e61);
        box-shadow: 0 8px 0 #87194e;
        width: 200px;
        display: block;
        padding: 30px;
        text-align: center;
        color: #fff;
        font-size: 16px;
        text-decoration: none;
        border-radius: 40px;
        margin: 100px auto;
    }

.plactice__btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 25px;
    background: url(../img/mailicon.svg) no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
}

.plactice__btn::after {
    content: '';
    position: absolute;
    transform:rotate(90deg);
    top: -50%;
    left: 40%;
    display: inline-block;
    width: 45px;
    height: 2px;
    background-color: rgb(181, 6, 99);
}

/* ここからがfooter-bottom */

.footer-bottom{
    padding: 20px 0;
    background-color: #ebebeb;
    text-align: center;
}

.copy-right{
    color: #606062
}


